.CardBuy {
  width: 100%;
  > td {
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    &:nth-child(1) {
      width: 1px;
    }
    padding: 10px;
    img {
      border-radius: 5px;
    }
    > div {
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        color: #333;
      }
      > div {
        > div {
          background-color: #8e44ad;
          border-radius: 5px;
          &:hover {
            background-color: #b255da;
            color: white;
          }
        }
      }
    }
  }
}