@import "../../../../index.scss";
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header {

  @include flex;
  flex-direction: column;
  .top {
    width: 100%;
    padding: 10px;
    background-color: #8e44ad;
    @include flex;
    a {
      width: 100%;
      text-decoration: none;
      color: white;
      @include flex;
      gap: 10px;
      justify-content: start;
    }
    justify-content: space-between;
  }
  p {
    @include flex;

    gap: 8px;
  }
  .btn {
    @include flex;
    color: white;
    height: max-content;
    border: white 1px solid;
    border-radius: 5px;
    padding: 8px;
    gap: 8px;
    background-color: transparent;
  }
  > img {
    width: 100%;
  }
  .header_action {
    height: 10px;
    width: 100%;
    background-color: white;
  }
  .header_order {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: center;
    border-top: 1px solid $back;
    border-bottom: 1px solid $back;
    background-color: white;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      min-width: 200px;
      width: 33%;
      padding: 10px;
      p:nth-child(1) {
        color: #777;
        font-size: 13px;
      }
    }
  }
}

.Navigation {
  display: flex;
  padding: 0 15px;
  //height: 1px;
  min-height: 55px;
  align-items: center;
  border-bottom: 1px solid $back;
  justify-content:  space-between;
  //flex-wrap: wrap;
  background-color: #fafbfc;
  > div {
    a {
      display: flex;
      align-items: center;
      color: #777;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s ease;
      height: 55px;
      &:hover {
        color: #3b3b3b;
      }
    }

    min-width: 450px; ;
    height: 100%;
    display: flex;
    gap: 10px;
  }
  > a {
    text-decoration: none;
    margin: 5px ;
    background-color: #8e44ad;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.Main {
  > div {
    background-color: white;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 15px;
  }
  h1 {
    font-size: 35px;
    font-weight: 300;
  }
}

.Footer {

  padding: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  text-align: center;
  > div {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 5px;

    a {
      color:#71aaeb;
    }
    span {
      color: #8e8e8e;
    }
    a, span {
      font-size: 14px;
    }
  }
  > p {
    font-size: 15px;
    color: #777;
  }
}
.tel_nav {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: white;
  box-shadow: 1px -1px 5px #cecccc;
  position: fixed;
  width: 100%;
  //mt
  bottom: 0;
  > div, a {
    background-color:#8e44ad ;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
justify-content: space-between;
    width: 100%;
    text-decoration: none;
    color: white;
  }
}
@media (width <= 750px) {
  .Footer {
    margin-bottom: 55px;
  }
  .Main {
    > div {
      background-color: white;
      min-height: 80vh;
      display: flex;
      flex-direction: column;
      padding: 10px 5px;
      gap: 15px;
    }}
}